.tagline{
    font-size: 10px;
    font-weight: bold;
    text-align-last: right;
    color: rgb(1, 6, 12);
    margin-bottom: 10px;
}
.navbar{
    width: 60px;
    height: 100%;
    color: aliceblue;

}
body{

    background-color: rgb(51, 181, 224);
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h1{
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
    text-shadow: 3px 3px 5px #000000;
    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px solid navy;
    display: inline-block;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
h2{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(1, 6, 12);
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid navy;
    display: inline-block;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
}
img{
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    
}
img:hover {
    transform: scale(1.05);
}
#profile-section {
    background-color: rgb(47, 71, 60);
    text-align: center;
    color: white;
    transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#buttons-section {
    margin-top: 20px;
    text-align: center;

}
.buttons-section{
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons-section:hover {
    background-color: darkblue;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(1, 6, 12);
}
.social-icons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    gap: 15px;
    font-size: smaller;
}